@media (max-width: 768px) {
    .nav-logo {
        display: none !important;
    }
    .container .nav-header {
        font-weight: bold;
        color: white !important;
        text-decoration: none !important;
        transition: color 0.3s ease;
        font-size: 0.8rem;
        font-weight: 650;
        white-space: nowrap;
        margin: 0 5px;
        letter-spacing: 0.1px; 
    }


    .container .nav-header:hover {
        color: #FFD700 !important;
    }

    /* 
    .fw-bold{
        font-size: 1.3rem !important;
    } */

    .background-section h1 {
        white-space: nowrap;
        font-size: 1.2rem !important; 
        letter-spacing: 1px; 
    }

    
    .tongquan-section{
        padding: 10px 10px;
        width: 95%;

    }

    .tongquan-section h2  {
        font-size: 1.5rem;
        margin-bottom: 15px !important;
    }

    .tongquan-section p{
        font-size: 1rem;
    }

    .tongquan-section img{
        height: 40px;
        margin: -10px 0 20px 0;
    }
    

    .reason-box1 {
        min-width: 300px;
        height: 100%;
        max-height: 200px;
        margin: 0px ;
    }

    .danhgia img{
        min-width: 300px;
        min-height: 200px;
    }

    #contact{
        margin-top: -50px;
    }

    .content h2 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .content ul li {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .content i {
        font-size: 17px;
        padding-right: 5px;
    }

    img.img1 {
        width: 100px;
        height: auto;
        margin-bottom: -30px;
    }
}

